.headerimg {
  /* max-width: auto;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

  width: 100%;
  height: auto;
  padding: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;

}

.image_1 {
  float: left;
  padding-left: 20px;
  margin-top: 10px;
  border-radius: 50px;
  clear: left;
  margin-right: 20px;
}

.title {
  clear: right;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 40px;
  color: black;
  word-wrap: normal;
}
.caption {
  font-size: 19px;
  color: black;
  margin-top: 10px;
}

.container {
  word-wrap: break-word;
  text-align: left;
  word-break: normal;
  position: static;
  margin-top: 40px;
}

.cardgroup {
  padding: 20px;
  margin-top: auto;
  background-color: rgb(242, 242, 242);
  position: static;
}

.items {
  justify-content: center;
}

.work {
  padding: 20px;
  margin-top: auto;
  position: static;
  clear: both;
}

.workhead {
  font-size: 25px;
}

.cards {
  padding: 10px;
}

.footer {
  background-color: rgb(16, 12, 8);
  padding: 10px;
  text-align: center;
  color: white;
}
