img {
  max-width: 100%;
  height: 100%;
}

.image_1 {
  float: left;
  padding-left: 20px;
  margin-top: 10px;
  border-radius: 50px;
}

.title {
  clear: right;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 40px;
  color: black;
  word-wrap: normal;
}
.caption {
  overflow: auto;
  font-size: 19px;
  color: black;
  margin-top: 10px;
  padding-left: 30px;
  padding-top: 35px;
}

.container {
  word-wrap: break-word;
  text-align: left;
  word-break: normal;
}

.cardgroup {
  padding: 20px;
  margin-top: 10px;
  background-color: rgb(242, 242, 242);
  position: static;
}

.items {
  justify-content: center;
}

.work {
  padding: 20px;
  margin-top: 50px;
  position: static;
}

.workhead {
  font-size: 25px;
}

.cards {
  padding: 10px;
}

.footer {
  background-color: rgb(16, 12, 8);
  padding: 10px;
  text-align: center;
  color: white;
}
